.activity {
    margin: 5px;
    padding: 5px 35px 5px 5px;
    width: 100%;
    display: block;
    border-radius: 8px;
}

.activity .avatar {
    width: 36px;
    display: inline-block;
    border-radius: 18px;
    vertical-align: top;
    text-align: left;
    margin-right: 0px;
}

.activity .content {
    width: calc(100% - 36px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

.activity .name {
    font-family: 'ProximaNova';
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    display: block;
}

.activity .time {
    font-family: 'ProximaNova';
    font-size: 13px;
    line-height: 16px;
    color: #565656;
    mix-blend-mode: normal;
    opacity: 0.5;
    display: block;

}